* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: rgb(250,0,0);
  background: linear-gradient(90deg, rgba(250,0,0,1) 0%, rgba(250,121,0,1) 16%, rgba(223,250,0,1) 33%, rgba(72,250,0,1) 50%, rgba(0,249,250,1) 62%, rgba(0,22,250,1) 79%, rgba(109,0,250,1) 100%);
}

main {
  display: flex;
  gap: 0.5em;
  padding: 0.5rem;
  justify-content: center;
  padding-top: 50px;
}

.header-hero-list {
  width: 600px;
  padding: 0.5rem;
  background-color: #dcdcdc;
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding-bottom: 0.5rem;
}

hr {
  width: 550px;
  margin: 10px 0;
}

.hero,
.hero-header {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  text-align: center;
  padding: 0.5rem;
  transition: all 0.2s;
}

.hero-header {
  font-weight: bold;
}

.hero {
  cursor: pointer;
}

.hero:hover {
  background-color: rgb(121, 117, 117);
  border-radius: 50px;
}

.hero:active {
  background-color: yellow;
}

.form-wrapper {
  display: grid;
  gap: 0.5em;

  .field {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;

  }
  label {
    width: 70px;
  }
}

.icon-upload-image > input {
  display: none;
}

.icon-upload-image img {
  width: 30px;
  cursor: pointer;
  margin-left: 1rem;
}

.hero-card {
  width: 350px;
  background-color: #dcdcdc;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
  height: 370px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.status-profile {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: center;
  padding-top: 0.5rem;
}

.btn-update-delete {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;

  button {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: white;
  }
}

.btn-update {
  background-color: #fa2100;
}

.btn-delete {
  background-color:#5406fb;
}

#form-hero {
  background-color: #dcdcdc;
  padding: 0.5rem;
  border-radius: 10px;
  height: 190px;
}

input[type ="submit"] {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: white;
  background-color:#0dc705;
}

.btn-submit {
  display: flex;
  justify-content: flex-end;
}

input[type="text"] {
  width: 70%;
  height: 20px;
  border: none;
  border-radius: 15px;
}

select {
  border: none;
  border-radius: 15px;
  height: 20px;
  width: 235px;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}

